        
    .curriculo{
        width: 90%;
        height: 150px;
        margin: 20px auto;  
        background-image: linear-gradient(90deg, rgb(7, 14, 122), #000000);
        color: white;
        
    }
    .curriculo>h1{
        padding-left: 20px;
        padding-top: 10px;
    }
    .curriculo>p{
        padding-left: 20px;
        padding-top: 10px;           
    }
    .curriculo>button{
        margin-left: 20px;
        margin-top: 30px;
        width: 100px;
        height: 30px;
        
    }
    
    footer{
        position: fixed;
        bottom: 0;
    }        
        @media(min-width:500px) and (max-width:769px){
        .curriculo>button{
            margin-top: 0%;
            gap: 0;
            margin-bottom: 30%;
        }
        .curriculo{
            width: 90%;
            height: 200px;
        }
    }

        @media(max-width:499px){
        .curriculo>button{
            margin-top: 0%;
            gap: 0;
            margin-bottom: 30%;
            
        }
        .curriculo{
            width: 90%;
            height: 200px;
        }
    }