/* Fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Fonte Kiwi Maru */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kiwi+Maru&display=swap');
/* Fonte Init */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kiwi+Maru&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../imgs/background.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

header{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid black; */
    background-color: white;
    
}
header img{
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
    margin-right: 10px;
}
header h1 {
    font-size: 22px;
    padding-top: 24px;
}
nav{
    margin-top: 100px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #044F86;
    
}
nav .containerlinks{
    width: 80%;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    
}
nav .containerlinks a{
    color: white;
    text-decoration: none;
}
nav .linha{
    width: 1px;
    height: 40px;
    background-color: white;
}

nav .containerbtn{
    width: 17%;
    display: flex;
    justify-content: space-around;

}
.buttons{
    right: 20%;
    left: 90%;
    width: 100px;
    border-top: 1px solid #428296;
    border-left: 1px solid #428296;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttons:hover{
    background-color: #428296;
}

main{
    width: 100%;
    height: 60%;
}

main img{
    width: 100%;
    
}

.headerCards h1,h2{
    text-align: center;
    color: white;
    margin: 20px 0px;
}

.containerCards{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 250px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 30px;
    display: inline-block;
    background-color: #044F86;
}
.card img{
    width: 249px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}
.card h2{
    margin: 5px 0px 5px 20px;
    font-size: 20px;
    text-align: start;
    font-family: "Inika", sans-serif;
}
.card p{
    font-size: 16px;
    margin: 5px 15px 5px 20px;
    font-family: "Inika", sans-serif;
}
.container-chamada{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.container-chamada h1{
    font-family: "Kiwi Maru", sans-serif;
    color: white;
    margin: 0 142px;
    font-size: 50px;
}

.container-grid{
    width: 50%;
    height: 300px;
    /* border: 1px solid black; */
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.container-cardIcon{
    width: 200px;
    height: 100px;
    /* border: 1px solid black; */
    position: relative;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}
.container-cardIcon img{
    position: absolute;
    width: 125px;
    height: 75px;
    left: 40px;
}
.container-cardIcon p{
    position: absolute;
    font-family: "Kiwi Maru", sans-serif;
    color: white;
    text-align: center;
    top: 85px;
}
footer{
    width: 100%;
    height: 250px;
    background-color: black;
}
footer h1{
    color: white;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 5px;
}
footer p{
    margin:20px 0px 10px 60px;
    color: white;
    display: flex;
    align-items: center;
    
}
footer p img{
    width: 67px;
    height: 40px;
}