        header{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        /* border: 1px solid black; */
        background-image: linear-gradient(90deg, rgb(7, 14, 122), #000000);        
        }

        main{
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        
        }

        .container {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        width: 50%;
        height: 100%;
        text-align: center;
        padding-bottom: 250px;
        }

        .button {
        width: 100%;
        height: 10%;
        background-color: #cdcdcd;
        color: rgb(43, 43, 43);
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        }

        .button>a{
            color: inherit;
            text-decoration: none;
        }

        div>img{
        width: 10%;
        height: 10%;
        padding-bottom: 20px;
        }

        div>h2{
        padding-top: 10px;
        padding-bottom: 10px;
        }

        footer{
        width: 100%;
        height: 250px;
        background-image: linear-gradient(90deg, rgb(7, 14, 122), #000000);
        }

        @media(min-width:500px) and (max-width:769px){
            .container{
            font-size: 15px;
            gap: 0;
            width: 50%;
            height: 100%;
            }
            .conatner>img{
            width: 10%;
            height: 10%;
            padding-bottom: 20px;
            }
        }
        @media (max-width:499px) {
            .container{
            font-size: 15px;
            gap: 0;
            width: 50%;
            height: 100%;
            }
            .conatner>img{
            width: 10%;
            height: 10%;
            padding-bottom: 20px;
            }
        }
        